:root {
  --background: #291919;
  --niceGreen: #4dac85;
  --lightGree: #92d58b;
  --darkGreen: ##334d3c;
  --error: #a81045;
  --text: #f3ebd2;
  --textSecondary: #b8b8b8;
  --textTertiary: #7a7a7a;
  --textQuaternary: #4a4a4a;

  --border: #4a4a4a;
}
