:root {
  --background: #291919;
  --niceGreen: #4DAC85;
  --lightGree:#92D58B;
  --darkGreen: ##334D3C;
  --error:#A81045;
  --text:#F3EBD2;
    --textSecondary: #B8B8B8;
    --textTertiary: #7A7A7A;
    --textQuaternary: #4A4A4A;

    --border: #4A4A4A;


}

